<header id='header'>
<div class='container'>
<div class='visible-xs-inline'><div data-react-class="CartPreview" data-react-props="{&quot;amount&quot;:&quot;$0.00&quot;,&quot;itemsCount&quot;:0}"></div>
</div>
<button aria-controls='navbar' aria-expanded='false' class='navbar-toggle collapsed' data-target='#main-nav-bar' data-toggle='collapse' type='button'>
<span class='sr-only'>Toggle navigation</span>
<span class='icon-bar'></span>
<span class='icon-bar'></span>
<span class='icon-bar'></span>
</button>
<button aria-controls='search_box' aria-expanded='false' class='navbar-toggle collapsed' data-target='#search_box' data-toggle='collapse' type='button'>
<span class='sr-only'>Toggle search</span>
<span class='icon-search'></span>
</button>
<%= image_tag 'logo', :class => "col-md-4" %>
<%= render 'spree/shared/main_nav_bar' %>
<%= render 'spree/shared/nav_bar' %>

</header>