<nav class="navbar col-md-8" id="top-nav-bar">
  <ul class="nav navbar-nav navbar-right col-xs-12" id="nav-bar">
    <li>    <form id="search_box" class="navbar-form navbar navbar-collapse collapse" action="/products" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
<div class='form-group'>
<label class='search'>
<input type="submit" value="Search" class="btn btn-success" />
</label>
<input type="search" name="keywords" id="keywords" placeholder="Search products..." class="form-control" />
</div>
</form>


</li>
  </ul>
</nav>