<nav class="nav_global">
  <div class="navbar navbar-collapse collapse" id="main-nav-bar">
    <ul class="nav navbar-nav col-xs-12 col-sm-6 col-md-6">
      <li id="home-link">      <a href="/">Gallery</a>
</li>
        <li id="link-to-login"><a href="/login">Login</a></li>

    
</ul>
    <ul class="nav navbar-nav navbar-right col-xs-12 col-sm-6 col-md-6">
      <li id="link-to-cart">      <div data-react-class="CartPreview" data-react-props="{&quot;amount&quot;:&quot;$0.00&quot;,&quot;itemsCount&quot;:0}"></div>

</li>
    </ul>
  </div>
</nav>